    <%= render "header"%>


    <%= form_with url: "/update/section/#{@id}", method: :post do |form| %>
    <div class='filed'>
    <%= form.label :name, "Section Name" %> <br/><br/>
    <%= form.text_field :name, required: true, placeholder: 'section name' %>
  </div>
    <%= form.submit "Update Section", class: 'btn-link' %>
 <% end %>


