<%= render "header"%>

<div class="title-container">
  <h3>Welcome to your Asana board </h3>
</div>
<p class="notice"><%=notice%></p>
<p class="alert"><%=alert%></p>
<%if @code == '200'%>
<div class="container">
<%@body["data"].each do |section|%>
   <ul class="each-section">
     <div class="top-section">
      <h3><%=section["name"]%></h3>
       <a href="#" class="create-task">+
        <span>Add Task</span>
       </a>

     </div> 
     <hr/>
       <h4>Task List</h4>
     <hr/>

       <%if task_list(section["gid"])["data"].any?%>
           <%task_list(section["gid"])["data"].each do |task|%>
            <li class="task-list"><p><%=task["name"]%> </p> <%= link_to "Update", edit_task_path(task['gid'])%> </li>
           <%end%>
       <%else%>
       <p class="no-task">No Task</p>
       <%end%>
         <div class="button-container">
            <%=link_to "Delete Section", destroy_section_path(section["gid"]), class: 'btn-link'%>
            <%=link_to "Update Section", edit_section_path(section["gid"]), class: 'btn-link'%>
         </div>
   </ul>
<%end%>
<%else%>
<div class="error-conatiner">
  <p><%=@body["errors"][0]["message"]%></p>
  <p><%=@body["errors"][0]["help"]%></p>
</div>
<%end%>
</div>
