<%= render "header"%>

<div class="title-container">
  <h1>Welcome to your Asana board </h1>
</div>
<p class="notice"><%=notice%></p>
<p class="alert"><%=alert%></p>
<%if @code == '200'%>
<div class="container">
<%@body["data"].each do |section|%>
   <ul class="each-section">
     <h2><%=section["name"]%></h2> 
     <hr/>
       <h4>Task List</h4>
     <hr/>

       <%if task_list(section["gid"])["data"].any?%>
           <%task_list(section["gid"])["data"].each do |task|%>
            <li><%=task["name"]%> </li>
           <%end%>
       <%else%>
       <p class="no-task">No Task</p>
       <%end%>
           <a href="#" class="create-task">Add Task</a>
         <div class="button-container">
            <%=link_to "Delete Section", destroy_section_path(section["gid"]), class: 'btn-link'%>
            <%=link_to "Update Section", edit_section_path(section["gid"]), class: 'btn-link'%>
         </div>
   </ul>
<%end%>
<%else%>
<div class="error-conatiner">
  <p><%=@body["errors"][0]["message"]%></p>
  <p><%=@body["errors"][0]["help"]%></p>
</div>
<%end%>
</div>
